body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    /* Aucun redimensionnement nécessaire */
}

.jailbreak-button {
    display: block;
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 0;
    cursor: pointer;
}

.progress-container {
    width: 120px; /* Largeur de la barre de progression */
    height: 230px; /* Hauteur de la barre de progression */
    background-color: #e0e0e0;
    border-radius: 25px;
    margin: 20px 0;
    display: none; /* Masqué par défaut */
    overflow: hidden; /* Pour s'assurer que la barre de progression ne dépasse pas les limites */
    position: relative;
}

.progress-bar {
    width: 100%; /* La barre de progression remplit toute la largeur */
    height: 0; /* Commence à 0% de hauteur */
    background-color: green;
    position: absolute;
    bottom: 0; /* Pour commencer à remplir du bas vers le haut */
}
