body {
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 200px;
}

.jailbreak-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 50px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.progress-container {
    position: absolute;
    top: 0;
    left: -200px;
    width: 120px;
    height: 230px;
    background-color: #e0e0e0;
    border: 2px solid black;
    border-radius: 25px;
    display: none;
    overflow: hidden;
    justify-content: flex-end;
}

.progress-bar {
    width: 100%;
    height: 0;
    background-color: green;
}
